body, html {
    font: 18px 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #37373a;
    color: white;
}

.button{ 
    display: flex;
    justify-content: center;
}

.mainArea {
    display: flex;
    justify-content: center;
    padding-top: 6px;
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;
}
.options div{
    padding: 4px 0px;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0px 2%;
    min-width: 150px;
}

.list_top {
    display: flex;
    flex-direction: column;
}
.list_title {
    align-self: center;
    padding-bottom: 8px;
}

.list_items_F div{
padding: 1px 0px;
display: flex;
}

.list_items_F div:hover{
    background-color: #535353;
}

.list_items_F label {
    flex-grow: 1;
    user-select: none;
    overflow-wrap: anywhere;
   /*  background-color: rgb(29, 29, 29); */
}

.list_items_F button{
    margin-left: 6px;
    padding: 0px 12px;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 36px;
    overflow-wrap: anywhere;
}

@media screen and (max-width:590px) {
    body {
        font-size: 24px;
    }
    .mainArea{
        flex-wrap: wrap;
        justify-content: left;
        flex-direction: column;
    }

    .list_title{
        align-self: auto;
        padding-left: 24px;
        padding-top: 6px;
        font-size: 28px;

    }
    .header {
        position: sticky;
        top: 0;
        background-color: #3f3f41;
        z-index: 6;
    }
    .button {
        padding: 10px 0px;
    }
    .button button {
        font-size: 17px;
    }
    .result {
        font-size: 24px;
    }
    .list_top {
        position: sticky;
        top: 80px;
        background-color: #505052;
    }
    .list {
        padding: 0px 0px;
    }
    .list_items_F {
        padding: 0px 2%;
    }
    .list_items_F button {
        margin-right: 38px;
        padding: 8px 14px;
        margin-top: 4px;
    }
    .list_items_F div {
        align-items: center;
    }
}
